body {
  margin: 0;
}

p {
  word-break: break-word;
}

.panel-wrapper {
  width: 100%;
  height: 100%;
  top: 0;

  position: absolute;
  overflow: hidden;

  clip-path: inset(0 0 0 0);
}

.panel {
  width: 100%;
  height: 100%;
  top: 0;

  /* position: fixed; */
  position: absolute;

  background: #FFF;
}

.panel span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-size: 5em;
}

.text {
  font-size: 2em;
}

.banner-text {
  font-size: 5em;
}

.normal-text {
  font-size: 2em;
  border: 2px solid black;
  max-width: 80%;
  max-height: 80%;
}


.wrapper {
  display: flex;
  width: 100%;
  min-height: 100%;
}

.sixty-left {
  width: 60%;

  /* position: absolute; */
  border: 4px solid black;
}

.fourty-right {
  width: 40%;
  flex: 1;

  /* position: absolute; */
  border: 4px solid blue;
}

.fifty-left {
  /* position: absolute; */
  /* border: 4px solid black; */
  width: 50%;
}

.fifty-right {
  /* position: absolute; */
  /* border: 4px solid black; */
  width: 50%;
  flex: 1;
}

.center {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/How_to/Layout_cookbook/Center_an_element */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#food-image {
  width: 60%;
}